**/.vs/**
**/bin/**
**/obj/**
**/out/**
*.a
*.aab
*.apk
*.app
*.class
*.d
*.desc
*.devlog
*.dll
*.dpkg
*.dylib
*.exe
*.gch
*.ipa
*.la
*.lai
*.lib
*.lo
*.mod
*.nuget
*.o
*.obj
*.out
*.pch
*.pem
*.sln
*.slo
*.smod
*.so
*.tar
*.tar.gz
*.TWBuildDB
*.TWSchemaDB
*.user
*.vsix
*.zip
*.exe
*.pdb