################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TallyWorld/.vs/
/TallyWorld/.vs/TallyWorld/v16
/TallyWorld/x64/