@page
@model Smallbank.Pages.Accounts.DepositCashModel

@{
    ViewData["Title"] = "Deposit Cash";
    string StatusMessage = ViewData["StatusMessage"] as string;  
}

<h1>Deposit Cash</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DepositCash.CustomerId" />
            <div class="form-group">
               <label>Customer Name: </label> @Html.DisplayFor(model => model.DepositCash.CustomerName)
            </div>
            <div class="form-group">
               <label>Current Savings Balance: </label>@Html.DisplayFor(model => model.DepositCash.SavingsBalance)
            </div>
            <p/>
            <div>
                <label asp-for="DepositCash.CashAmount" class="control-label"></label>
                <input asp-for="DepositCash.CashAmount" class="form-control" />
                <span asp-validation-for="DepositCash.CashAmount" class="text-danger"></span>
            </div>
            <p/>
            <div class="form-group">
                <input type="submit" value="Deposit Cash" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

 <p/>

  <p style="background-color:LightGrey;">@StatusMessage</p>
  
  <p/>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
