@page
@model Smallbank.Pages.Accounts.DepositCheckModel

@{
    ViewData["Title"] = "Deposit Check";
    string StatusMessage = ViewData["StatusMessage"] as string;  
}

<h1>Deposit Check</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DepositCheck.CustomerId" />
            <div class="form-group">
               <label>Customer Name: </label> @Html.DisplayFor(model => model.DepositCheck.CustomerName)
            </div>
            <div class="form-group">
               <label>Current Checking Balance: </label>@Html.DisplayFor(model => model.DepositCheck.CheckingBalance)
            </div>
            <p/>
            <div>
                <label asp-for="DepositCheck.Amount" class="control-label"></label>
                <input asp-for="DepositCheck.Amount" class="form-control" />
                <span asp-validation-for="DepositCheck.Amount" class="text-danger"></span>
            </div>
            <p/>
            <div class="form-group">
                <input type="submit" value="Deposit Check" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

 <p/>

  <p style="background-color:LightGrey;">@StatusMessage</p>
  
  <p/>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
